@model OrderDetailsViewModel

<div class="container text-dark pb-5" style="height: auto; background: #e3f1f9 " >
      <div class="container my-3">
        <h2 class="pt-5" >Comanda nr. @Model.Order.Id</h2>

        <div class="card bg-white text-muted border-2">
          <div class="div mx-3 mt-3 ">
            <p> Plasata pe : <b> @Model.Order.OrderDate </b> </p>
            <p> Total : <b> @Model.Order.Price Lei </b> </p>
          </div>
        </div>

        <h3 class="mt-3" > Produse vandute si livrate de CoffeeShop </h3>

        <div class="card bg-white border-2">
            <div class="container  ">
                <h2 style="color: #33b5e5" class="mx-2 mt-3"> @Model.Order.Status </h2>
                <button class="btn mx-2 mt-3 text-white" style="width: 125px; background-color: #33b5e5;"> Istoric Livrare </button>

                <div class="row mt-4">

                    <div class="col-12 col-md-4 my-2 bg-transparent" style="height:auto" >
                        <div class="card border-3 " style="height: fit-content;">
                            <div class="container text-dark auto">
                                <p class="mt-3"> <b> Modalitate de livrare </b> </p>
                                <p> Livrare prin curier </p>

                                <p class="text-muted mt-4"> Pentru </p>
                                <p> Nume( n/a ) </p>

                                <p class="text-muted mt-4"> Adressa </p>
                                <p> Str @Model.Order.Street @Model.Order.Number, @Model.Order.City, @Model.Order.Country </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 my-2 bg-transparent">
                        <div class="card border-3" style="height: 100%;">
                            <div class="container text-dark mt-3">
                                <p> <b> Date Facturare </b> </p>
                                <p class="text-muted">Pentru</p>
                                <p> Nume( n/a ), @Model.Order.PhoneNumber </p>

                                <p class="text-muted"> Adresa </p>
                                <p> Str @Model.Order.Street @Model.Order.Number </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 my-2 bg-transparent">
                        <div class="card border-3" style="height: 100%;">
                            <div class="container text-dark mt-3 ">
                                <p> <b> Modalitate de Plata </b> </p>
                                <p> Ramburs </p>
                                <p class="mt-5"> Valoare Totala : @Model.Order.Price Lei </p>
                            </div>
                        </div>
                    </div>

                </div>

                <hr  class="mb-3" />

                @foreach (var product in Model.Products)
                {

                    <div class="card my-2 border-3" style="width: 100%; height:auto; ">
                        <div class="row">
                            <div class="col-3 bg-transparent ">
                                <div class="container" style="height: auto;">
                                    <img src="@product.ImageURL" class="img-fluid my-2 me-2" style="max-width:100px; max-height:100px" />
                                </div>
                            </div>

                            <div class="col-6 bg-transparent text-dark">
                                <p class="mt-5 ms-3"> @product.Name </p>
                            </div>

                            <div class="col-3 bg-transparent text-dark ">
                                <p class="text-right mt-5"> @product.Price Lei </p>
                            </div>

                        </div>

                    </div>
                }


                <hr class="mx-2">
                <div class="container text-end" style="height:100%;">
                    <p> Total Produst : n/a Lei </p>
                    <p> Livrare : n/a Lei </p>
                    <p> Total Plata : @Model.Order.Price Lei </p>
                </div>
            </div>
            
        </div>
      </div>
    </div>
      