@model List<Order>

<h1> Manage Orders </h1>
<hr />

<div class="containter bg-transparent">

    <table class="table">

        <tr>
            <th> Order ID </th>
            <th> Date </th>
            <th> Adress </th>
            <th> Products </th>
            <th> Status </th>
        </tr>


        @foreach (var order in Model)
        {

            @if (order.Status == StatusType.Pending.ToString())
            {
                <tr class="table-active">
                    <th> @order.Id </th>
                    <th> @order.OrderDate </th>
                    <th> Adress </th>
                    <th><a> Products </a></th>
                    <th> Pending </th>
                </tr>

            }

            @if (order.Status == StatusType.Confirmed.ToString())
            {
                <tr class="table-info">
                    <th> @order.Id </th>
                    <th> @order.OrderDate </th>
                    <th> Adress </th>
                    <th><a> Products </a></th>
                    <th> Confirmed </th>
                </tr>
            }

            @if (order.Status == StatusType.Send.ToString())
            {
                <tr class="table-warning">
                    <th> @order.Id </th>
                    <th> @order.OrderDate </th>
                    <th> Adress </th>
                    <th><a> Products </a></th>
                    <th> Send </th>
                </tr>
            }
            @if (order.Status == StatusType.Received.ToString())
            {
                <tr class="table-success">
                    <th> @order.Id </th>
                    <th> @order.OrderDate </th>
                    <th> Adress </th>
                    <th><a> Products </a></th>
                    <th> Received </th>
                </tr>

            }
            @if (order.Status == StatusType.Canceled.ToString())
            {
                <tr class="table-danger">
                    <th> @order.Id </th>
                    <th> @order.OrderDate </th>
                    <th> Adress </th>
                    <th><a> Products </a></th>
                    <th> Canceled </th>
                </tr>
            }
            @if (order.Status == StatusType.Returned.ToString())
            {
                <tr class="table-info">
                    <th> @order.Id </th>
                    <th> @order.OrderDate </th>
                    <th> Adress </th>
                    <th><a> Products </a></th>
                    <th> Canceled </th>
                </tr>
            }




        }



    </table>


</div>
